.npc-dialog-content-clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 30px 20px;
  flex: 1;
}

#clockDialog {
  background: url("chronometer.png") no-repeat center;
  background-size: cover;
}

#clockTime {
  font:
    100% "Orbitron",
    sans-serif;
  width: 100%;
  font-size: 52px;
  letter-spacing: 5px;
  color: #00ffff;
  text-shadow: 0 0 20px #00ffff;
}

#clockDate {
  font:
    100% "Orbitron",
    sans-serif;
  width: 100%;
  color: red;
  font-size: 28px;
}
